<div class="charts_jumbo" style="margin-bottom: 30px;">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="cabin" style="color: #FFF;">Let's discover.</h1>
      <h3 class="cabin" style="color: #00897B;">Connect with your favorite brands to get inside looks, exclusive content, promo codes, teasers, and more</h3>
    </div>
  </div>
</div>
<div class="container">
	<h4 class="cabin" style="letter-spacing: 2px;">DISTRIBUTION OF STORIES BY DAY OF WEEK</h3>
		<small><i>Trailing 14 Days</i></small>
	<%= image_tag "weekdist.png", :class => "img-responsive" %>
</div>