<div class="main_jumbo">
	<div class="container">
		<div class="row" style="margin-top: 150px;">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="cabin" style="letter-spacing: 2.0; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);">YOUR GUIDE TO BRANDS ON SNAPCHAT</h1>
				<h3 style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);">Connect with your favorite brands to get inside looks, exclusive content, promo codes, teasers, and more</h3>
				<div id="the-basics">
		      <%= form_tag brands_path, :method => 'get' do %>
		        <p>
		          <%= text_field_tag :search, params[:search], :placeholder => "Explore by brand name", :class => "form-control typeahead" %>
		          <div style="position: absolute; top: -9999px;"><%= submit_tag "Search", :name => nil, :class => "btn btn-default btn-xs"  %></div>
		        </p>
		      <% end %>
		    </div>
		    <div>
		    	<select onchange="location = this.options[this.selectedIndex].value;" class="form-control">
					  <option value="" disabled selected>or seek by popular categories</option>
					  <option value="/brands?industry=Sports">Sports</option>
					  <option value="/brands?industry=Fashion">Fashion</option>
					  <option value="/brands?industry=Restaurant">Restaurant</option>
					  <option value="/brands?industry=Food and Beverage">Food and Beverage</option>
					  <option value="/brands?industry=Music">Music</option>
					  <option value="/brands?industry=Entertainment">Entertainment</option>
					  <option value="/brands?industry=Media">Media</option>
					</select>
		    </div>
		  </div>
		</div>
	</div>
</div>

<%= javascript_include_tag "matcher" %>
