// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brand-table {
	th {
		text-align: left;
		border-top: none;
	}
	td {
		vertical-align: middle;
		text-align: left;
	}
}

.btn-filter {
  border-radius: 50px;
  //background: none;
  border: none;
}

.btn-filter:hover, .btn-filter:active, .btn-filter:visited {
  background-color: #fff !important;
}