// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link-grey {
	color: #37474F;
}

.link-grey:hover {
	color: #37474F;
}

.link-categories {
	color: #37474F;
}

.link-categories:hover {
	color: #37474F;
	text-decoration: none;
}

.main_jumbo {
	background: url('front_banner.jpg') center;
	height: 500px;
  color: #fff;
  text-align: center;
  margin-top: -20px;
}

.brands_jumbo {
	background: url('database_banner.jpg') center;
	background-color: #FFF;
	height: 200px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: -20px;
}

.add_button {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 15px;
	margin-right: 15px;
	z-index: 9999;
}