// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_link {
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.link-grey {
	color: #37474F;
}

.link-grey:hover {
	color: #37474F;
}

.link-light-grey {
	color: #9e9e9e;
}

.link-light-grey:hover {
	color: #9e9e9e;
}

.link-categories {
	color: #37474F;
}

.link-categories:hover {
	color: #37474F;
	text-decoration: none;
}

.search-input {
	border: none;
	background-color: #FFF;
	outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; 
}

.main_jumbo {
	//background: url('front_banner.jpg') center;
	background-color: #f1c40f;
	height: 500px;
  color: #fff;
  text-align: left;
  margin-top: -20px;
}

.main_jumbo h1 {
	font-size: 500%;
	font-size: 7.5vw;
}

.front_tables > .table > tbody > tr:first-child > td {
	border: none;
}

.brands_jumbo {
	//background: url('database_banner.jpg') center;
	background-color: #9b59b6;
	height: 200px;
  color: #fff;
  margin-top: -20px;
}

.charts_jumbo {
	background-color: #4DB6AC;
	height: 200px;
  color: #fff;
  margin-top: -20px;
}

.add_button {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 15px;
	margin-right: 15px;
	z-index: 9999;
}

.input-group-addon {
	border-left:1px solid #000;
}